.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.header {
    width: 100%;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

.main {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.image {
    flex: 2;
}

.image img {
    width: 550px; 
    height: 300px;
}

.details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.details h2 {
    margin: 0;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
}
